


<div class="container mt-5">
  <div class="row">
    
    <div class="col-sm-4 filter-field">
        <label for="gender" class="mr-2"><strong class="text-info">Gender filter:</strong></label>
        <select [(ngModel)]="genderFilter">
            <option>All</option>
            <option>Male</option>
            <option>Female</option>
        </select>
    </div>

    <div class="col-sm-8 filter-field">
      

        <label for="age" class="mr-2"><strong class="text-info">Age filter:</strong></label>
        <span>From</span>
        <input type="number" min="18" max="40" class="age-field" [(ngModel)]="minAge">
        <span>to</span> 
            <input type="number" min="41" max="99" [(ngModel)]="maxAge">
            
            <button type="submit" class="btn btn-primary ml-2 age-btn" (click)="applyAgeFilter()">Apply</button>
            
        
    </div>
  


  </div>

  <div class="row mt-3">
      <ng-container *ngIf="genderFilter == 'Female'">
          <div *ngFor="let user of females | paginate: { itemsPerPage: 6, currentPage: p}" class="col-lg-2 col-md-3 col-sm-6">
              <app-member-card [user]="user"></app-member-card>
          </div>
      </ng-container>  
      <ng-container *ngIf="genderFilter == 'Male'">
          <div *ngFor="let user of males | paginate: { itemsPerPage: 6, currentPage: p}" class="col-lg-2 col-md-3 col-sm-6">
              <app-member-card [user]="user"></app-member-card>
          </div>
      </ng-container>  
      <ng-container *ngIf="genderFilter == 'All'">
          <div *ngFor="let user of allUsers | paginate: { itemsPerPage: 6, currentPage: p}" class="col-lg-2 col-md-3 col-sm-6">
              <app-member-card [user]="user"></app-member-card>
          </div>
      </ng-container>  

      

        <h2 class="text-center" id="no-found" *ngIf="females.length == 0 || males.length == 0 || allUsers.length == 0">
          
          No results found</h2>

      

  </div>
  <pagination-controls (pageChange)="p = $event" class="match-pagination"
  *ngIf="!(females.length == 0 || males.length == 0 || allUsers.length == 0)"
  ></pagination-controls>
</div>