


<div class="container mt-5">
  <div class="row">
    <label>Gender filter</label>
      <select [(ngModel)]="genderFilter">
          <option>All</option>
          <option>Male</option>
          <option>Female</option>
      </select>

  </div>

  <div class="row mt-3">
      <ng-container *ngIf="genderFilter == 'Female'">
          <div *ngFor="let user of females | paginate: { itemsPerPage: 6, currentPage: p}" class="col-lg-2 col-md-3 col-sm-6">
              <app-member-card [user]="user"></app-member-card>
          </div>
      </ng-container>  
      <ng-container *ngIf="genderFilter == 'Male'">
          <div *ngFor="let user of males | paginate: { itemsPerPage: 6, currentPage: p}" class="col-lg-2 col-md-3 col-sm-6">
              <app-member-card [user]="user"></app-member-card>
          </div>
      </ng-container>  
      <ng-container *ngIf="genderFilter == 'All'">
          <div *ngFor="let user of users | paginate: { itemsPerPage: 6, currentPage: p}" class="col-lg-2 col-md-3 col-sm-6">
              <app-member-card [user]="user"></app-member-card>
          </div>
      </ng-container>  

  </div>
  <pagination-controls (pageChange)="p = $event" class="match-pagination"></pagination-controls>
</div>